In [6]:
import pandas as pd
import numpy as np

In [24]:
pokemon = pd.read_csv(r"C:\Users\Benjamin\Desktop\pokemons.csv", index_col="name")

In [25]:
pokemon.head()

,id,rank,generation,evolves_from,type1,type2,hp,atk,def,spatk,spdef,speed,total,height,weight,abilities,desc
name,,,,,,,,,,,,,,,,,
bulbasaur,1,ordinary,generation-i,nothing,grass,poison,45,49,49,65,65,45,318,7,69,overgrow chlorophyll,A strange seed was planted on its back at birt...
ivysaur,2,ordinary,generation-i,bulbasaur,grass,poison,60,62,63,80,80,60,405,10,130,overgrow chlorophyll,"When the bulb on its back grows large, it appe..."
venusaur,3,ordinary,generation-i,ivysaur,grass,poison,80,82,83,100,100,80,525,20,1000,overgrow chlorophyll,The plant blooms when it is absorbing solar en...
charmander,4,ordinary,generation-i,nothing,fire,NaN,39,52,43,60,50,65,309,6,85,blaze solar-power,"Obviously prefers hot places. When it rains, s..."
charmeleon,5,ordinary,generation-i,charmander,fire,NaN,58,64,58,80,65,80,405,11,190,blaze solar-power,"When it swings its burning tail, it elevates t..."

In [27]:
pokemon[["type1", "type2", "hp"]]

              type1     type2  hp
name
bulbasaur     grass    poison  45
ivysaur       grass    poison  60
venusaur      grass    poison  80
charmander     fire       NaN  39
charmeleon     fire       NaN  58
...             ...       ...  ..
sinistcha     grass     ghost  71
okidogi      poison  fighting  88
munkidori    poison   psychic  88
fezandipiti  poison     fairy  88
ogerpon       grass       NaN  80

[1017 rows x 3 columns]

In [33]:
pokemon.groupby("type1")["hp"].mean()

type1
bug         56.493976
dark        75.800000
dragon      79.594595
electric    63.741379
fairy       71.379310
fighting    76.075000
fire        69.292308
flying      70.000000
ghost       61.800000
grass       65.372549
ground      74.475000
ice         75.709677
normal      77.418803
poison      70.146341
psychic     71.783333
rock        67.929825
steel       70.588235
water       70.865672
Name: hp, dtype: float64

In [42]:
group = pokemon.groupby(["type1", "type2"])["hp"].mean().reset_index()

In [43]:
group.to_csv('grouped_pokemon.csv', index=False)

In [49]:
group[group["hp"] == group["hp"].max()]

   type1   type2     hp
21  dark  ground  155.0

In [56]:
pokemon[(pokemon["type1"] == "dark") & (pokemon["type2"] == "ground")]

,id,rank,generation,evolves_from,type1,type2,hp,atk,def,spatk,spdef,speed,total,height,weight,abilities,desc
name,,,,,,,,,,,,,,,,,
ting-lu,1003,legendary,generation-ix,nothing,dark,ground,155,110,125,55,80,45,570,27,6997,vessel-of-ruin vessel-of-ruin,The fear poured into an ancient ritual vessel ...

In [60]:
pokemon[pokemon["hp"] == pokemon[(pokemon["rank"] == "ordinary")]["hp"].max()]

,id,rank,generation,evolves_from,type1,type2,hp,atk,def,spatk,spdef,speed,total,height,weight,abilities,desc
name,,,,,,,,,,,,,,,,,
blissey,242,ordinary,generation-ii,chansey,normal,NaN,255,10,10,75,135,55,540,15,468,natural-cure serene-grace healer,Anyone who takes even one bite of BLISSEY's eg...